<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a routerLink="/home">Home</a></li>
              <li><a (click)="buscar()" routerLink="/buscador">Proyectos</a></li>
              <li><a *ngIf="dataService.contacto == false">Solicitudes</a>
                <ul class="sub-menu">
                  <li><a routerLink="/solicitudT">Trabajadores</a></li>
                  <li><a routerLink="/solicitudC">Contactos</a></li>
                </ul>
              </li>
              <li><a class="mobile-hide" ><i class="fas fa-user"></i></a>
                <ul class="sub-menu">
                  <li><a routerLink="/perfil">Modificar Perfil</a></li>
                  <li><a (click)="cerrarSesion()" routerLink="">Cerrar Sesion</a></li>
                </ul>
              </li>
            </ul>
          </nav>

          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Proyecto</p>
          <h1>Resultados</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!-- single article section -->
<div class="mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="single-article-section">
          <div class="single-article-text">

            <p class="blog-meta">
              <span class="author"><i class="fas fa-calendar"></i>{{dataService.proyecto.fechaInicioReal}} - {{dataService.proyecto.fechaFinReal}}</span>
            </p>
            <h3>{{dataService.proyecto.nombre}}</h3>
            <h4>Reporte del Proyecto</h4>
            <p>{{dataService.reporte}}</p>
            <h4>Reporte de las Actividades</h4>
            <p *ngFor="let item of dataService.datos">{{item}}</p>
            <h4>Reporte de los Gastos</h4>
            <p *ngFor="let item of dataService.gastos">{{item}}</p>
          </div>
          <!--Firmas-->
          <div class="row product-lists">
            <div class="col-lg-4 col-md-6">
              <div class="single-logo-item align-content-center">
                <img src="assets/img/firma_gerente.png" alt="">
                <p class="text-center">--------------------------------------------------------------</p>
                <p class="text-center">Gerente de Proyectos</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-logo-item ">
                <img src="assets/img/firma_contacto.png" alt="">
                <p class="text-center">--------------------------------------------------------------</p>
                <p class="text-center">Lider Usuario</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end single article section -->



<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">Nosotros</h2>
          <p>Establecida por un grupo de profesionales con experiencia en sistemas y tecnologia, ASSETEC proporciona soluciones flexibles y personalizadas adaptadas a los requisitos particulares de nuestros clientes que permiten que sus negocios establezcan y mejoren sus procesos criticos en cada vertical de negocio.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Contactanos</h2>
          <ul>
            <li>Lima 01 - Peru</li>
            <li>info@assetec.org</li>
            <li>+51 965 392565</li>
            <li>+51 997 940001</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
