.coupon-form-wrap form p input{
  width: 220px;
}
.coupon-form-wrap form p input[type="submit"] {
  width: 120px;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
nav.main-menu ul li.current-list-item > a {
  color: #F28123;
}

nav.main-menu ul li a:hover {
  color: #F28123;
}
nav.main-menu ul li a {
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 15px;
}
nav.main-menu ul ul.sub-menu li a {
  color: #555;
  padding: 8px;
  font-size: 13px;
  font-weight: 650 ;
}
.d-flex {
  display: flex !important;
}
.coupon-form-wrap form p input{
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.coupon-section {
  margin-top: 0px;
}
input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin-bottom: 0px !important;
}
input[type="date"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 135px;
  margin-bottom: 0px !important;
}
#head{
  font-size: 40px;
  font-weight: 700;
  color: black;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}
h4 {
  margin-bottom: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

