
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">
          <!-- logo -->
          <div class="hero-text-tablecell">
            <p class="subtitle">improving your business</p>
            <h1>Assetec</h1>
          </div>
          <!-- logo -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- hero area -->
<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="text-center position-absolute top-50 start-50 translate-middle col-lg-4">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <div class="single-latest-news">
              <div class="news-text-box">
                <div id="form_status"></div>
                <div class="contact-form">
                  <form id="fruitkha-contact"> <!--onSubmit="return valid_datas( this );"-->
                    <div class="list-box align-items-center" >
                      <div class="list-icon">
                        <i class="fas fa-user"></i>
                      </div>
                    </div>
                    <p>
                      <input type="text" placeholder="DNI" name="name" id="name">
                    </p>
                    <p>
                      <input type="password" placeholder="Password" name="email" id="email">
                    </p>
                    <p routerLink="home"><input type="submit" value="Ingresar"></p>
                    <p routerLink="signup"><input type="submit" value="Crear Cuenta"></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero area -->
