

<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">


          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a>Home</a></li>
              <li><a routerLink="/buscador">Proyectos</a></li>
              <li><a >Solicitudes</a>
                <ul class="sub-menu">
                  <li><a routerLink="/solicitudT">Trabajadores</a></li>
                  <li><a routerLink="/solicitudC">Contactos</a></li>
                </ul>
              </li>
              <li><a class="mobile-hide" ><i class="fas fa-user"></i></a>
                <ul class="sub-menu" href="#">
                  <li><a routerLink="/perfil">Modificar Perfil</a></li>
                  <li><a routerLink="">Cerrar Sesion</a></li>
                </ul>
              </li>
            </ul>
          </nav>

          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- hero area -->
<div class="hero-area hero-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="hero-text">
          <div class="hero-text-tablecell">
            <p class="subtitle">improving your business</p>
            <h1>Assetec</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4 mb-lg-0">
        <div class="list-box d-flex align-items-center">
          <div class="list-icon">
            <i class="fas fa-bookmark"></i>
          </div>
          <div class="content">
            <h3>Mision</h3>
            <p>Somos profesionales en el desarrollo y manejo de software, comprometidos a brindar confianza y mejorar la calidad de vida de nuestros clientes. Creada para contribuir al desarrollo social del país, diseñando productos y servicios de alta competitividad, con personal capacitado y  equipos de tecnología que son de vital importancia para la producción de la compañía.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="list-box d-flex justify-content-start align-items-center">
          <div class="list-icon">
            <i class="fas fa-eye"></i>
          </div>
          <div class="content">
            <h3>Vision</h3>
            <p>Assetec tiene como visión impulsar el desarrollo de software de alta calidad, satisfaciendo las necesidades de micros, medianas y grandes compañías. Aplicando tecnologías recientes. Factores como  la responsabilidad, talento humano e innovación son parte fundamentales que complementan los pilares de nuestra organización.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end features list section -->

<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">Nosotros</h2>
          <p>Establecida por un grupo de profesionales con experiencia en sistemas y tecnologia, ASSETEC proporciona soluciones flexibles y personalizadas adaptadas a los requisitos particulares de nuestros clientes que permiten que sus negocios establezcan y mejoren sus procesos criticos en cada vertical de negocio.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Contactanos</h2>
          <ul>
            <li>Lima 01 - Peru</li>
            <li>info@assetec.org</li>
            <li>+51 965 392565</li>
            <li>+51 997 940001</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->

