<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a routerLink="/home">Home</a></li>
              <li><a routerLink="/buscador">Proyectos</a></li>
              <li><a >Solicitudes</a>
                <ul class="sub-menu">
                  <li><a routerLink="/solicitudT">Trabajadores</a></li>
                  <li><a routerLink="/solicitudC">Contactos</a></li>
                </ul>
              </li>
              <li><a class="mobile-hide" ><i class="fas fa-user"></i></a>
                <ul class="sub-menu" href="#">
                  <li><a routerLink="/perfil">Modificar Perfil</a></li>
                  <li><a routerLink="">Cerrar Sesion</a></li>
                </ul>
              </li>
            </ul>
          </nav>

          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Proyecto</p>
          <h1>Acta</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
<div class="cart-section mt-150 mb-150">
  <div class="container">
    <h3 id="head"><span class="orange-text">Acta</span> de Conformidad</h3>
    <h4>Proyecto</h4>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="cart-table-wrap">
          <div class="row product-lists">
            <div class="col-lg-12 col-md-6  ">
              <div class="single-product-item d-flex">
                <div class="acuerdo">
                  <h3>Acuerdo #</h3>
                  <p class="product-price"> <span>Descripcion</span> </p>
                </div>
              </div>
              <div class="single-product-item d-flex">
                <div class="acuerdo">
                  <h3>Acuerdo #</h3>
                  <p class="product-price"> <span>Descripcion</span> </p>
                </div>
              </div>
              <div class="single-product-item d-flex">
                <div class="acuerdo">
                  <h3>Acuerdo #</h3>
                  <p class="product-price"> <span>Descripcion</span> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="checkout-accordion-wrap">
          <div class="accordion" >
            <div class="card single-accordion">
              <div class="card-header" >
                <h5 class="mb-0">
                    Informacion del acta
                </h5>
              </div>
              <div data-parent="#accordionExample">
                <div class="card-body">
                  <div class="billing-address-form">
                    <form action="index.html">
                      <p class="name">Codigo</p>
                      <p class="name">Fecha Envio</p>
                      <p class="name">Numero de Acuerdos</p>
                      <p class="name">Emisor</p>
                      <p class="name">Destinatario</p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="checkout-accordion-wrap">
          <div class="accordion" >
            <div class="card single-accordion">
              <div class="card-header" >
                <h5 class="mb-0">
                  Aceptacion del acta
                </h5>
              </div>
              <div data-parent="#accordionExample">
                <div class="card-body d-flex">
                  <div class="billing-address-form">
                    <form action="index.html">
                      <p class="name">Nombre Apellido Apellido</p>
                      <p class="name">Nombre Apellido Apellido</p>
                      <p class="name">Nombre Apellido Apellido</p>
                    </form>
                  </div>
                  <div class="billing-address-form">
                    <form action="index.html">
                      <p class="name">DNI</p>
                      <p class="name">DNI</p>
                      <p class="name">DNI</p>
                    </form>
                  </div>
                  <div class="billing-address-form">
                    <form action="index.html">
                      <p class="name">Estado</p>
                      <p class="name">Estado</p>
                      <p class="name">Estado</p>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-buttons">
          <p><input type="submit" *ngIf="(dataService.persona.rol == 'GERENTE DE PROYECTOS' || dataService.persona.rol == 'JEFE DE PROYECTOS' || dataService.persona.rol == 'LIDER USUARIO')" value="Generar Firma"></p>  <!--*ngIf="dataService.acciones == 'enviado' && -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end cart -->




<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">Nosotros</h2>
          <p>Establecida por un grupo de profesionales con experiencia en sistemas y tecnologia, ASSETEC proporciona soluciones flexibles y personalizadas adaptadas a los requisitos particulares de nuestros clientes que permiten que sus negocios establezcan y mejoren sus procesos criticos en cada vertical de negocio.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Contactanos</h2>
          <ul>
            <li>Lima 01 - Peru</li>
            <li>info@assetec.org</li>
            <li>+51 965 392565</li>
            <li>+51 997 940001</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->




