<!-- header -->
<div class="top-header-area" id="sticker">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12 text-center">
        <div class="main-menu-wrap">

          <!-- menu start -->
          <nav class="main-menu">
            <ul>
              <li class="current-list-item"><a routerLink="/home">Home</a></li>
              <li><a >Proyectos</a></li>
              <li><a *ngIf="dataService.contacto == false">Solicitudes</a>
                <ul class="sub-menu">
                  <li><a routerLink="/solicitudT">Trabajadores</a></li>
                  <li><a routerLink="/solicitudC">Contactos</a></li>
                </ul>
              </li>
              <li><a class="mobile-hide" ><i class="fas fa-user"></i></a>
                <ul class="sub-menu" href="#">
                  <li><a routerLink="/perfil">Modificar Perfil</a></li>
                  <li><a (click)="cerrarSesion()" routerLink="">Cerrar Sesion</a></li>
                </ul>
              </li>
            </ul>
          </nav>

          <!-- menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end header -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Assetec</p>
          <h1>Proyectos</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->
<!-- products -->
<div class="product-section mt-150 mb-150"  >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="product-filters">
          <ul>
            <li class="active" (click)="filtro = '*'; buscar()">Todos</li>
            <li (click)="filtro = 'PROCESO'; buscar()">En Proceso</li>
            <li (click)="filtro = 'FINALIZADO'; buscar()">Finalizado</li>
            <li (click)="filtro = 'EN ESPERA'; buscar()">En Espera</li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="filtro == '*'" class="row product-lists">
      <div *ngFor="let item of dataService.proyectos; let i = index" class="col-lg-4 col-md-6 text-center ">
        <div class="single-product-item">
          <p class="product-price">{{item.nombre}} <span>{{item.estado}}</span> </p>
          <h3>{{item.descripcion}}</h3>
          <a (click)="infoProyecto(i); listaAlcances(); listaObjetivos(); asociarObjetivos()" routerLink="/proyecto" class="cart-btn"><i class="fas fa-info"></i> Mas informacion</a>
        </div>
      </div>
    </div>

    <div *ngIf="filtro != '*'" class="row product-lists">
      <div *ngFor="let item of dataService.proyectos; let i = index" class="filtrado">
        <div *ngIf="item.estado == filtro" class="col-lg-4 col-md-6 text-center resultado">
          <div class="single-product-item">
            <p class="product-price">{{item.nombre}} <span>{{item.estado}}</span> </p>
            <h3>{{item.descripcion}}</h3>
            <a (click)="infoProyecto(i); listaAlcances(); listaObjetivos(); asociarObjetivos()" routerLink="/proyecto" class="cart-btn"><i class="fas fa-info"></i> Mas informacion</a>
          </div>
        </div>
      </div>
    </div>

    <!--
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="pagination-wrap">
          <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">1</a></li>
            <li><a class="active" href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
      </div>
    </div>
    -->
  </div>
</div>
<!-- end products -->



<!-- footer -->
<div class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-6">
        <div class="footer-box about-widget">
          <h2 class="widget-title">Nosotros</h2>
          <p>Establecida por un grupo de profesionales con experiencia en sistemas y tecnologia, ASSETEC proporciona soluciones flexibles y personalizadas adaptadas a los requisitos particulares de nuestros clientes que permiten que sus negocios establezcan y mejoren sus procesos criticos en cada vertical de negocio.</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="footer-box get-in-touch">
          <h2 class="widget-title">Contactanos</h2>
          <ul>
            <li>Lima 01 - Peru</li>
            <li>info@assetec.org</li>
            <li>+51 965 392565</li>
            <li>+51 997 940001</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->

